
.jumbotron h1 {
    color:greenyellow;
}

.jumbotron p {
    color:greenyellow;
}

.white-text h2 {
    color: greenyellow;
}

.aliceblue-text p {
    color: greenyellow;
}

.col-md-12 p {
    color: greenyellow;
}

body {
    background-color: rgb(162, 132, 238);
} 